<launch>
  <arg name="model" default="$(find jbot_description)/urdf/jbot_description.urdf.xacro"/>
  <arg name="use_ps3joy" value="false"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

  <include file="$(find jbot_control)/launch/ps3_control.launch">
      <arg name="use_joy" value="$(arg use_ps3joy)"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="20.0"/>
  </node>

  <include file="$(find rplidar_ros)/launch/rplidar.launch">
    <param name="serial_port" type="string" value="/dev/ttyUSB_rplidar"/>
  </include>

  <include file="$(find jbot_nav)/launch/params_gmapping.launch"/>

<!--
  <include file="$(find jbot_nav)/launch/params_move_base.launch"/>

  <node pkg="tf" type="static_transform_publisher" name="baselink_basefootprint" args="0 0 0 0 0 0 /base_footprint /base_link 50" />

  <node pkg="tf" type="static_transform_publisher" name="laser_baselink" args="0.215 0 0.152 0 0 3.14 /base_link /laser 50" />
-->

  <!--node pkg="tf" type="static_transform_publisher" name="camera_baselink" args="0.0856 0 0.751 0 0 0 /base_link /link_camera 50" />
  <node pkg="tf" type="static_transform_publisher" name="rightarm_sliderlink" args="-0.024519 0.089 0.03 -1.57 0 0 /slider_link /arm_base_link 50" />
  <node pkg="tf" type="static_transform_publisher" name="leftarm_sliderlink" args="-0.024519 -0.089 0.03 -1.5708 1.502E-16 3.1416 /slider_link /arm_base_link_left 50" /-->

</launch>
