<launch>
  <param name="/use_sim_time" value="false" />
  
  <include file="$(find jbot_moveit_config)/launch/demo.launch">
	<arg name="use_default_joint_states" value="false"/>
  </include>
  
  <node name="jbot_move_around" pkg="jbot_arm_driver" type="jbot_arms_driver.py">
  </node>

  <!--info : there is sth warning in the terminal of the move base joint states, but if the arms move, will see the arms move around in rviz-->
  
</launch>

